{% extends "base.html" %}

{% block content %}
    <div class="account-frame" id="password-change-form">
        <h4>Use the form below to change your password.</h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="green-btn" type="submit">Change</button>
            <button class="red-btn" type="button" onclick="window.location.href='{% url 'profile' user.username %}'">
                Cancel
            </button>
        </form>
    </div>
{% endblock %}