{% extends "base.html" %}
{% load static %}

{% block content %}
{% if orders %}
<div class="order-list">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Number</th>
            <th>Created</th>
            <th>Paid</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.list_number }}</td>
            <td><a href="{% url 'order:order_detail' order_id=order.id %}">{{ order.id }}</a></td>
            <td>{{ order.created }}</td>
            <td>{{ order.paid }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>Change</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div id="order-empty">
    <h3>You haven't made any orders yet.</h3>
</div>
{% endif %}
{% endblock %}